<h1>{{titulo}}</h1>
<h1>Bienvenido {{usuario}}</h1>

<form action=""> <!--Banana in box y la directiva ngModel permiten binding bidireccional entre el valor del input y los atributos numero del componente-->
  <input type="number" name="numero1" id="numero1" [(ngModel)]="numero1">  

  <select name="operacion" id="operacion" #operacionSelect>
    <option value="suma" selected>+</option>
    <option value="resta">-</option>
    <option value="multiplicación">x</option>
    <option value="división">/</option>
  </select>

  <input type="number" name="numero2" id="numero2" [(ngModel)]="numero2">

  <!--Botón que llama al evento calcular al hacerle click. Pasa por parámetro el select con el tipo de operación-->
  <button (click)="calcular(operacionSelect)">Calcular</button>
</form>

<p>Resultado del cálculo: {{resultado == 0 ? "Sin calcular" : resultado}}</p>